@charset "utf-8";
/* CSS Document */
/*********** CORE ***********/
html, body { margin:0; padding:0; font-family: 'Roboto', sans-serif; }
.regular  { font-weight: 400;  }
.medium  { font-weight: 500; }
.bold { font-weight: 700; }
